$orange: #e74c3c;
$dark-orange: #c0392b;
$blue: #3498db;
$dark-blue: #2980b9;
$grey-0: #cccc;
$grey-10: #ccc;
$grey-20: #f0f0f0;
$grey-30: #333;
$grey-40: #555;
$grey-50: #444;
$grey-60: rgba(0, 0, 0, 0.2);
$white: white;